In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [12]:
diag = pd.read_csv('C:\\Users\\conta\\Documents\\Novartis\\APLD Raw Data\\DIAG.txt', 
                   dtype={"PATIENT_ID": int,"CLAIM_ID": object,"CLAIM_TYP_CD": object,"SERVICE_DATE": str,"MONTH_ID": int,
                          "DIAGNOSIS_CODE": object,"DIAG_VERS_TYP_ID": int,"DIAG_CD_POSN_NBR": int,"PROVIDER_ID": object,
                          "RESTATE_FLAG": object,"FLEXIBLE_FLD_1_CHAR": object,"FLEXIBLE_FLD_2_CHAR": object}, 
                   sep="|")
diag.head()

In [22]:
diag.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3192462 entries, 0 to 3192461
Data columns (total 12 columns):
PATIENT_ID             int32
CLAIM_ID               object
CLAIM_TYP_CD           object
SERVICE_DATE           object
MONTH_ID               int32
DIAGNOSIS_CODE         object
DIAG_VERS_TYP_ID       int32
DIAG_CD_POSN_NBR       int32
PROVIDER_ID            object
RESTATE_FLAG           object
FLEXIBLE_FLD_1_CHAR    object
FLEXIBLE_FLD_2_CHAR    object
dtypes: int32(4), object(8)
memory usage: 243.6+ MB

In [ ]:
diag.info(verbose=True)

In [23]:
diag_2l = pd.read_csv('C:\\Users\\conta\\Documents\\Novartis\\APLD Raw Data\\DIAG_2l.txt', 
                   dtype={"PATIENT_ID": int,"CLAIM_ID": object,"CLAIM_TYP_CD": object,"SERVICE_DATE": str,"MONTH_ID": int,
                          "DIAGNOSIS_CODE": object,"DIAG_VERS_TYP_ID": int,"DIAG_CD_POSN_NBR": int,"PROVIDER_ID": object,
                          "RESTATE_FLAG": object,"FLEXIBLE_FLD_1_CHAR": object,"FLEXIBLE_FLD_2_CHAR": object}, 
                   sep="|")
diag_2l.head()

,PATIENT_ID,CLAIM_ID,CLAIM_TYP_CD,SERVICE_DATE,MONTH_ID,DIAGNOSIS_CODE,DIAG_VERS_TYP_ID,DIAG_CD_POSN_NBR,PROVIDER_ID,RESTATE_FLAG,FLEXIBLE_FLD_1_CHAR,FLEXIBLE_FLD_2_CHAR
0,999973009,147472383254,P,05/27/2016,201605,C79.51,2,1,7614570,0,1629078753,NaN
1,999973009,147472383254,P,05/27/2016,201605,C50.912,2,2,7614570,0,1629078753,NaN
2,999973009,128313584745,P,02/01/2016,201602,C79.51,2,1,7537830,0,1487655122,NaN
3,999973009,128313584745,P,02/01/2016,201602,C50.512,2,2,7537830,0,1487655122,NaN
4,999973009,128214001111,P,02/01/2016,201602,C50.919,2,1,7189956,0,1861492902,NaN

In [24]:
diag_2l.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4495058 entries, 0 to 4495057
Data columns (total 12 columns):
PATIENT_ID             int32
CLAIM_ID               object
CLAIM_TYP_CD           object
SERVICE_DATE           object
MONTH_ID               int32
DIAGNOSIS_CODE         object
DIAG_VERS_TYP_ID       int32
DIAG_CD_POSN_NBR       int32
PROVIDER_ID            object
RESTATE_FLAG           object
FLEXIBLE_FLD_1_CHAR    object
FLEXIBLE_FLD_2_CHAR    object
dtypes: int32(4), object(8)
memory usage: 342.9+ MB

In [28]:
px = pd.read_csv('C:\\Users\\conta\\Documents\\Novartis\\APLD Raw Data\\DIAG_2l.txt', 
                   dtype={"PATIENT_ID": int,"CLAIM_ID": object,"CLAIM_LINE_ITEM": int,
                          "CLAIM_TYP_CD": object,"PROCEDURE_CODE": object,"PRC1_MOD_CD": object,"PRC1_MOD_DESC": object,
                          "PRC_VERS_TYP_ID": int,"PROVIDER_BILLING_ID": int,"PROVIDER_FACILITY_ID": int,
                          "PROVIDER_REFERRING_ID": int,"PROVIDER_RENDERING_ID": int,"SVC_CRGD_AMT": int,
                          "SERVICE_DATE": str,"MONTH_ID": int,"UNIT_OF_SVC_AMT": int,
                          "PLACE_OF_SERVICE": object,"PAYER_PLAN_ID": object,"PAY_TYPE": object,"NDC": object,
                          "PRODUCT": object,"DIAGNOSIS_CODE": object,"DIAG_CD_POSN_NBR": int,"DIAG_VERS_TYP_ID": int,
                          "DIAG_DESC": object,"WEEK_END_FRI": object,
                          "RESTATE_FLAG": object,"FLEXIBLE_FLD_1_CHAR": object,"FLEXIBLE_FLD_2_CHAR": object}, 
                   sep="|")
px.head()

,PATIENT_ID,CLAIM_ID,CLAIM_TYP_CD,SERVICE_DATE,MONTH_ID,DIAGNOSIS_CODE,DIAG_VERS_TYP_ID,DIAG_CD_POSN_NBR,PROVIDER_ID,RESTATE_FLAG,FLEXIBLE_FLD_1_CHAR,FLEXIBLE_FLD_2_CHAR
0,999973009,147472383254,P,05/27/2016,201605,C79.51,2,1,7614570,0,1629078753,NaN
1,999973009,147472383254,P,05/27/2016,201605,C50.912,2,2,7614570,0,1629078753,NaN
2,999973009,128313584745,P,02/01/2016,201602,C79.51,2,1,7537830,0,1487655122,NaN
3,999973009,128313584745,P,02/01/2016,201602,C50.512,2,2,7537830,0,1487655122,NaN
4,999973009,128214001111,P,02/01/2016,201602,C50.919,2,1,7189956,0,1861492902,NaN

In [29]:
px.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4495058 entries, 0 to 4495057
Data columns (total 12 columns):
PATIENT_ID             int32
CLAIM_ID               object
CLAIM_TYP_CD           object
SERVICE_DATE           object
MONTH_ID               int32
DIAGNOSIS_CODE         object
DIAG_VERS_TYP_ID       int32
DIAG_CD_POSN_NBR       int32
PROVIDER_ID            int64
RESTATE_FLAG           object
FLEXIBLE_FLD_1_CHAR    object
FLEXIBLE_FLD_2_CHAR    object
dtypes: int32(4), int64(1), object(7)
memory usage: 342.9+ MB

In [30]:
px_2l = pd.read_csv('C:\\Users\\conta\\Documents\\Novartis\\APLD Raw Data\\DIAG_2l.txt', 
                   dtype={"PATIENT_ID": int,"CLAIM_ID": object,"CLAIM_LINE_ITEM": int,
                          "CLAIM_TYP_CD": object,"PROCEDURE_CODE": object,"PRC1_MOD_CD": object,"PRC1_MOD_DESC": object,
                          "PRC_VERS_TYP_ID": int,"PROVIDER_BILLING_ID": int,"PROVIDER_FACILITY_ID": int,
                          "PROVIDER_REFERRING_ID": int,"PROVIDER_RENDERING_ID": int,"SVC_CRGD_AMT": int,
                          "SERVICE_DATE": str,"MONTH_ID": int,"UNIT_OF_SVC_AMT": int,
                          "PLACE_OF_SERVICE": object,"PAYER_PLAN_ID": object,"PAY_TYPE": object,"NDC": object,
                          "PRODUCT": object,"DIAGNOSIS_CODE": object,"DIAG_CD_POSN_NBR": int,"DIAG_VERS_TYP_ID": int,
                          "DIAG_DESC": object,"WEEK_END_FRI": object,
                          "RESTATE_FLAG": object,"FLEXIBLE_FLD_1_CHAR": object,"FLEXIBLE_FLD_2_CHAR": object}, 
                   sep="|")
px_2l.head()

,PATIENT_ID,CLAIM_ID,CLAIM_TYP_CD,SERVICE_DATE,MONTH_ID,DIAGNOSIS_CODE,DIAG_VERS_TYP_ID,DIAG_CD_POSN_NBR,PROVIDER_ID,RESTATE_FLAG,FLEXIBLE_FLD_1_CHAR,FLEXIBLE_FLD_2_CHAR
0,999973009,147472383254,P,05/27/2016,201605,C79.51,2,1,7614570,0,1629078753,NaN
1,999973009,147472383254,P,05/27/2016,201605,C50.912,2,2,7614570,0,1629078753,NaN
2,999973009,128313584745,P,02/01/2016,201602,C79.51,2,1,7537830,0,1487655122,NaN
3,999973009,128313584745,P,02/01/2016,201602,C50.512,2,2,7537830,0,1487655122,NaN
4,999973009,128214001111,P,02/01/2016,201602,C50.919,2,1,7189956,0,1861492902,NaN

In [31]:
px_2l.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4495058 entries, 0 to 4495057
Data columns (total 12 columns):
PATIENT_ID             int32
CLAIM_ID               object
CLAIM_TYP_CD           object
SERVICE_DATE           object
MONTH_ID               int32
DIAGNOSIS_CODE         object
DIAG_VERS_TYP_ID       int32
DIAG_CD_POSN_NBR       int32
PROVIDER_ID            int64
RESTATE_FLAG           object
FLEXIBLE_FLD_1_CHAR    object
FLEXIBLE_FLD_2_CHAR    object
dtypes: int32(4), int64(1), object(7)
memory usage: 342.9+ MB