In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk

%matplotlib inline

In [3]:
diag = pd.read_csv('C:\\Users\\conta\\Documents\\Novartis\\APLD Raw Data\\DIAG.txt', 
                   dtype={"PATIENT_ID": int,"CLAIM_ID": object,"CLAIM_TYP_CD": object,"SERVICE_DATE": str,"MONTH_ID": int,
                          "DIAGNOSIS_CODE": object,"DIAG_VERS_TYP_ID": int,"DIAG_CD_POSN_NBR": int,"PROVIDER_ID": object,
                          "RESTATE_FLAG": object,"FLEXIBLE_FLD_1_CHAR": object,"FLEXIBLE_FLD_2_CHAR": object}, 
                   sep="|")
diag.head()

,PATIENT_ID,CLAIM_ID,CLAIM_TYP_CD,SERVICE_DATE,MONTH_ID,DIAGNOSIS_CODE,DIAG_VERS_TYP_ID,DIAG_CD_POSN_NBR,PROVIDER_ID,RESTATE_FLAG,FLEXIBLE_FLD_1_CHAR,FLEXIBLE_FLD_2_CHAR
0,999944505,10458194885000421223,P,12/12/2019,201912,C50.111,2,1,7976755,0,1588637250,NaN
1,999944505,10458181473000479341,P,09/10/2019,201909,C50.111,2,1,7976755,0,1588637250,NaN
2,999944505,10458165065000341912,P,05/20/2019,201905,C50.111,2,1,7976755,0,1588637250,NaN
3,999944505,10458161262800585500,P,05/20/2019,201905,C50.111,2,1,8117971,0,1285667204,NaN
4,999944505,10458157449200367497,P,02/21/2019,201902,C50.111,2,1,7976755,0,1588637250,NaN

In [59]:
diag.describe(include='all')

,PATIENT_ID,CLAIM_ID,CLAIM_TYP_CD,SERVICE_DATE,MONTH_ID,DIAGNOSIS_CODE,DIAG_VERS_TYP_ID,DIAG_CD_POSN_NBR,PROVIDER_ID,RESTATE_FLAG,FLEXIBLE_FLD_1_CHAR,FLEXIBLE_FLD_2_CHAR
count,3.192462e+06,3192462,3192462,3192462,3.192462e+06,3192462,3.192462e+06,3.192462e+06,3192462,3192462,2936942,0.0
unique,NaN,1704513,2,2313,NaN,1471,NaN,NaN,122722,1,125048,0.0
top,NaN,10655099975600350055,P,02/01/2019,NaN,C50.919,NaN,NaN,0,0,1366479099,NaN
freq,NaN,237,2081284,4884,NaN,352621,NaN,NaN,338616,3192462,8847,NaN
mean,7.892070e+08,NaN,NaN,NaN,2.017630e+05,NaN,1.900690e+00,1.869614e+00,NaN,NaN,NaN,NaN
std,4.890956e+08,NaN,NaN,NaN,1.466147e+02,NaN,2.990777e-01,1.280753e+00,NaN,NaN,NaN,NaN
min,2.938854e+07,NaN,NaN,NaN,2.013090e+05,NaN,1.000000e+00,1.000000e+00,NaN,NaN,NaN,NaN
25%,3.500931e+08,NaN,NaN,NaN,2.017050e+05,NaN,2.000000e+00,1.000000e+00,NaN,NaN,NaN,NaN
50%,7.396496e+08,NaN,NaN,NaN,2.018060e+05,NaN,2.000000e+00,1.000000e+00,NaN,NaN,NaN,NaN
75%,1.188289e+09,NaN,NaN,NaN,2.019030e+05,NaN,2.000000e+00,2.000000e+00,NaN,NaN,NaN,NaN
max,1.734678e+09,NaN,NaN,NaN,2.019120e+05,NaN,2.000000e+00,1.200000e+01,NaN,NaN,NaN,NaN

In [60]:
diag.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3192462 entries, 0 to 3192461
Data columns (total 12 columns):
PATIENT_ID             int32
CLAIM_ID               object
CLAIM_TYP_CD           object
SERVICE_DATE           object
MONTH_ID               int32
DIAGNOSIS_CODE         object
DIAG_VERS_TYP_ID       int32
DIAG_CD_POSN_NBR       int32
PROVIDER_ID            object
RESTATE_FLAG           object
FLEXIBLE_FLD_1_CHAR    object
FLEXIBLE_FLD_2_CHAR    object
dtypes: int32(4), object(8)
memory usage: 243.6+ MB

In [23]:
diag_2l = pd.read_csv('C:\\Users\\conta\\Documents\\Novartis\\APLD Raw Data\\DIAG_2l.txt', 
                   dtype={"PATIENT_ID": int,"CLAIM_ID": object,"CLAIM_TYP_CD": object,"SERVICE_DATE": str,"MONTH_ID": int,
                          "DIAGNOSIS_CODE": object,"DIAG_VERS_TYP_ID": int,"DIAG_CD_POSN_NBR": int,"PROVIDER_ID": object,
                          "RESTATE_FLAG": object,"FLEXIBLE_FLD_1_CHAR": object,"FLEXIBLE_FLD_2_CHAR": object}, 
                   sep="|")
diag_2l.head()

,PATIENT_ID,CLAIM_ID,CLAIM_TYP_CD,SERVICE_DATE,MONTH_ID,DIAGNOSIS_CODE,DIAG_VERS_TYP_ID,DIAG_CD_POSN_NBR,PROVIDER_ID,RESTATE_FLAG,FLEXIBLE_FLD_1_CHAR,FLEXIBLE_FLD_2_CHAR
0,999973009,147472383254,P,05/27/2016,201605,C79.51,2,1,7614570,0,1629078753,NaN
1,999973009,147472383254,P,05/27/2016,201605,C50.912,2,2,7614570,0,1629078753,NaN
2,999973009,128313584745,P,02/01/2016,201602,C79.51,2,1,7537830,0,1487655122,NaN
3,999973009,128313584745,P,02/01/2016,201602,C50.512,2,2,7537830,0,1487655122,NaN
4,999973009,128214001111,P,02/01/2016,201602,C50.919,2,1,7189956,0,1861492902,NaN

In [24]:
diag_2l.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4495058 entries, 0 to 4495057
Data columns (total 12 columns):
PATIENT_ID             int32
CLAIM_ID               object
CLAIM_TYP_CD           object
SERVICE_DATE           object
MONTH_ID               int32
DIAGNOSIS_CODE         object
DIAG_VERS_TYP_ID       int32
DIAG_CD_POSN_NBR       int32
PROVIDER_ID            object
RESTATE_FLAG           object
FLEXIBLE_FLD_1_CHAR    object
FLEXIBLE_FLD_2_CHAR    object
dtypes: int32(4), object(8)
memory usage: 342.9+ MB

In [4]:
px = pd.read_csv('C:\\Users\\conta\\Documents\\Novartis\\APLD Raw Data\\PX.txt', 
                   dtype={"PATIENT_ID": int,"CLAIM_ID": object,"CLAIM_LINE_ITEM": int,
                          "CLAIM_TYP_CD": object,"PROCEDURE_CODE": object,"PRC1_MOD_CD": object,"PRC1_MOD_DESC": object,
                          "PRC_VERS_TYP_ID": object,"PROVIDER_BILLING_ID": int,"PROVIDER_FACILITY_ID": int,
                          "PROVIDER_REFERRING_ID": int,"PROVIDER_RENDERING_ID": int,"SVC_CRGD_AMT": float,
                          "SERVICE_DATE": str,"MONTH_ID": int,"UNIT_OF_SVC_AMT": float,
                          "PLACE_OF_SERVICE": object,"PAYER_PLAN_ID": object,"PAY_TYPE": object,"NDC": object,
                          "PRODUCT": object,"DIAGNOSIS_CODE": object,"DIAG_CD_POSN_NBR": int,"DIAG_VERS_TYP_ID": int,
                          "DIAG_DESC": object,"WEEK_END_FRI": object,
                          "RESTATE_FLAG": object,"FLEXIBLE_FLD_1_CHAR": object,"FLEXIBLE_FLD_2_CHAR": object}, 
                   sep="|")
#　PRC_VERS_TYP_ID is int that contain NaN, work-around is keep it as obejct
px.head()

,PATIENT_ID,CLAIM_ID,CLAIM_LINE_ITEM,CLAIM_TYP_CD,PROCEDURE_CODE,PRC1_MOD_CD,PRC1_MOD_DESC,PRC_VERS_TYP_ID,PROVIDER_BILLING_ID,PROVIDER_FACILITY_ID,...,NDC,PRODUCT,DIAGNOSIS_CODE,DIAG_CD_POSN_NBR,DIAG_VERS_TYP_ID,DIAG_DESC,WEEK_END_FRI,RESTATE_FLAG,FLEXIBLE_FLD_1_CHAR,FLEXIBLE_FLD_2_CHAR
0,999944505,10458194885000421223,4,P,86300,NaN,NaN,-1,7976755,0,...,NaN,NaN,C50.111,1,2,NaN,17-APR-20,0,1588637250,NaN
1,999944505,10458194885000421223,1,P,80053,NaN,NaN,-1,7976755,0,...,NaN,NaN,C50.111,1,2,NaN,17-APR-20,0,1588637250,NaN
2,999944505,10458181473000479341,2,P,86300,NaN,NaN,-1,7976755,0,...,NaN,NaN,C50.111,1,2,NaN,28-FEB-20,0,1588637250,NaN
3,999944505,10458181473000479341,1,P,80053,NaN,NaN,-1,7976755,0,...,NaN,NaN,C50.111,1,2,NaN,28-FEB-20,0,1588637250,NaN
4,999944505,10458165065000341912,2,P,86300,NaN,NaN,-1,7976755,0,...,NaN,NaN,C50.111,1,2,NaN,28-FEB-20,0,1588637250,NaN

In [52]:
#px.info(verbose=True)
px.count()

PATIENT_ID               9297565
CLAIM_ID                 9297565
CLAIM_LINE_ITEM          9297565
CLAIM_TYP_CD             9297565
drug_id                  8509820
PRC1_MOD_CD              1699860
PRC1_MOD_DESC            1698128
PRC_VERS_TYP_ID          8509820
PROVIDER_BILLING_ID      9297565
PROVIDER_FACILITY_ID     9297565
PROVIDER_REFERRING_ID    9297565
PROVIDER_RENDERING_ID    9297565
SVC_CRGD_AMT             9116032
SERVICE_DATE             9297565
MONTH_ID                 9297565
UNIT_OF_SVC_AMT          9113568
PLACE_OF_SERVICE         3513488
PAYER_PLAN_ID            8861704
PAY_TYPE                 8861704
NDC                      1421727
PRODUCT                        0
DIAGNOSIS_CODE           9297397
DIAG_CD_POSN_NBR         9297565
DIAG_VERS_TYP_ID         9297565
DIAG_DESC                      0
WEEK_END_FRI             9297565
RESTATE_FLAG             9297565
FLEXIBLE_FLD_1_CHAR      8897669
FLEXIBLE_FLD_2_CHAR            0
dtype: int64

In [50]:
px_2l = pd.read_csv('C:\\Users\\conta\\Documents\\Novartis\\APLD Raw Data\\PX_2l.txt', 
                   dtype={"PATIENT_ID": int,"CLAIM_ID": object,"CLAIM_LINE_ITEM": int,
                          "CLAIM_TYP_CD": object,"PROCEDURE_CODE": object,"PRC1_MOD_CD": object,"PRC1_MOD_DESC": object,
                          "PRC_VERS_TYP_ID": object,"PROVIDER_BILLING_ID": int,"PROVIDER_FACILITY_ID": int,
                          "PROVIDER_REFERRING_ID": int,"PROVIDER_RENDERING_ID": int,"SVC_CRGD_AMT": float,
                          "SERVICE_DATE": str,"MONTH_ID": int,"UNIT_OF_SVC_AMT": float,
                          "PLACE_OF_SERVICE": object,"PAYER_PLAN_ID": object,"PAY_TYPE": object,"NDC": object,
                          "PRODUCT": object,"DIAGNOSIS_CODE": object,"DIAG_CD_POSN_NBR": int,"DIAG_VERS_TYP_ID": int,
                          "DIAG_DESC": object,"WEEK_END_FRI": object,
                          "RESTATE_FLAG": object,"FLEXIBLE_FLD_1_CHAR": object,"FLEXIBLE_FLD_2_CHAR": object}, 
                   sep="|")
#　PRC_VERS_TYP_ID is int that contain NaN, work-around is keep it as obejct
px_2l.head()

,PATIENT_ID,CLAIM_ID,CLAIM_LINE_ITEM,CLAIM_TYP_CD,PROCEDURE_CODE,PRC1_MOD_CD,PRC1_MOD_DESC,PRC_VERS_TYP_ID,PROVIDER_BILLING_ID,PROVIDER_FACILITY_ID,...,NDC,PRODUCT,DIAGNOSIS_CODE,DIAG_CD_POSN_NBR,DIAG_VERS_TYP_ID,DIAG_DESC,WEEK_END_FRI,RESTATE_FLAG,FLEXIBLE_FLD_1_CHAR,FLEXIBLE_FLD_2_CHAR
0,999973009,147472383254,2,P,78306,26,PROFESSIONAL COMPONENT: CERTAIN PROCEDURES ARE...,-1,18299560,0,...,NaN,NaN,C79.51,1,2,NaN,28-FEB-20,0,1629078753,NaN
1,999973009,147472383254,2,P,78306,26,PROFESSIONAL COMPONENT: CERTAIN PROCEDURES ARE...,-1,18299560,0,...,NaN,NaN,C50.912,2,2,NaN,28-FEB-20,0,1629078753,NaN
2,999973009,147472383254,1,P,3570F,8P,PERFORMANCE MEASURE REPORTING MODIFIER - ACTIO...,-1,18299560,0,...,NaN,NaN,C79.51,1,2,NaN,28-FEB-20,0,1629078753,NaN
3,999973009,147472383254,1,P,3570F,8P,PERFORMANCE MEASURE REPORTING MODIFIER - ACTIO...,-1,18299560,0,...,NaN,NaN,C50.912,2,2,NaN,28-FEB-20,0,1629078753,NaN
4,999973009,128313584745,2,P,74177,26,PROFESSIONAL COMPONENT: CERTAIN PROCEDURES ARE...,-1,18299560,0,...,NaN,NaN,C79.51,1,2,NaN,28-FEB-20,0,1487655122,NaN

In [31]:
px_2l.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4495058 entries, 0 to 4495057
Data columns (total 12 columns):
PATIENT_ID             int32
CLAIM_ID               object
CLAIM_TYP_CD           object
SERVICE_DATE           object
MONTH_ID               int32
DIAGNOSIS_CODE         object
DIAG_VERS_TYP_ID       int32
DIAG_CD_POSN_NBR       int32
PROVIDER_ID            int64
RESTATE_FLAG           object
FLEXIBLE_FLD_1_CHAR    object
FLEXIBLE_FLD_2_CHAR    object
dtypes: int32(4), int64(1), object(7)
memory usage: 342.9+ MB

In [5]:
rx = pd.read_csv('C:\\Users\\conta\\Documents\\Novartis\\APLD Raw Data\\RX.txt', 
                   dtype={"PATIENT_ID": int,"CLAIM_ID": object,"NDC": object,"PROVIDER_ID": object,
                          "DIAGNOSIS_CODE": object,"DIAG_VERS_TYP_ID": object,"PAYER_PLAN_ID": object,
                          "REFILL_CODE": object,"DSPNSD_QTY": float,"DAYS_SUPPLY": int,"SERVICE_DATE": str,
                          "MONTH_ID": int,
                          "RESTATE_FLAG": object,"FLEXIBLE_FLD_1_CHAR": object,"FLEXIBLE_FLD_2_CHAR": object}, 
                   sep="|")
rx.head()

,CLAIM_ID,PATIENT_ID,NDC,PROVIDER_ID,DIAGNOSIS_CODE,DIAG_VERS_TYP_ID,PAYER_PLAN_ID,REFILL_CODE,DSPNSD_QTY,DAYS_SUPPLY,SERVICE_DATE,MONTH_ID,RESTATE_FLAG,FLEXIBLE_FLD_1_CHAR,FLEXIBLE_FLD_2_CHAR
0,808936764247,686508685,00310072010,6872536,174.9,1,0000000000,1,10.0,28,12/09/2014,201412,0,NaN,NaN
1,808936764246,686508685,00310072010,6872536,174.9,1,0000000000,1,10.0,28,11/06/2014,201411,0,NaN,NaN
2,803520062163,78944152,00078059451,7306476,C78.7,2,0000000000,0,14.0,14,06/23/2014,201406,0,NaN,NaN
3,803519984774,78944152,00078056651,7306476,C78.7,2,0000000000,0,14.0,14,07/07/2014,201407,0,NaN,NaN
4,803519980128,78944152,00078056751,7306476,C78.7,2,0000000000,0,14.0,14,08/04/2014,201408,0,NaN,NaN

In [54]:
rx.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317323 entries, 0 to 317322
Data columns (total 15 columns):
CLAIM_ID               317323 non-null object
PATIENT_ID             317323 non-null int32
NDC                    317323 non-null object
PROVIDER_ID            317323 non-null object
DIAGNOSIS_CODE         29794 non-null object
DIAG_VERS_TYP_ID       32236 non-null object
PAYER_PLAN_ID          317260 non-null object
REFILL_CODE            317323 non-null object
DSPNSD_QTY             317323 non-null float64
DAYS_SUPPLY            317323 non-null int32
SERVICE_DATE           317323 non-null object
MONTH_ID               317323 non-null int32
RESTATE_FLAG           317323 non-null object
FLEXIBLE_FLD_1_CHAR    0 non-null object
FLEXIBLE_FLD_2_CHAR    0 non-null object
dtypes: float64(1), int32(3), object(11)
memory usage: 32.7+ MB

In [55]:
rx_2l = pd.read_csv('C:\\Users\\conta\\Documents\\Novartis\\APLD Raw Data\\RX_2l.txt', 
                   dtype={"PATIENT_ID": int,"CLAIM_ID": object,"NDC": object,"PROVIDER_ID": object,
                          "DIAGNOSIS_CODE": object,"DIAG_VERS_TYP_ID": object,"PAYER_PLAN_ID": object,
                          "REFILL_CODE": object,"DSPNSD_QTY": float,"DAYS_SUPPLY": int,"SERVICE_DATE": str,
                          "MONTH_ID": int,
                          "RESTATE_FLAG": object,"FLEXIBLE_FLD_1_CHAR": object,"FLEXIBLE_FLD_2_CHAR": object}, 
                   sep="|")
rx_2l.head()

,CLAIM_ID,PATIENT_ID,NDC,PROVIDER_ID,DIAGNOSIS_CODE,DIAG_VERS_TYP_ID,PAYER_PLAN_ID,REFILL_CODE,DSPNSD_QTY,DAYS_SUPPLY,SERVICE_DATE,MONTH_ID,RESTATE_FLAG,FLEXIBLE_FLD_1_CHAR,FLEXIBLE_FLD_2_CHAR
0,808936759439,143389772,00093747489,10463811,174.9,1,7002370001,1,84.0,21,11/28/2014,201411,0,NaN,NaN
1,808936759438,143389772,00093747489,10463811,174.9,1,7002370001,1,84.0,21,11/07/2014,201411,0,NaN,NaN
2,808936759437,143389772,00093747489,10463811,174.9,1,7002370001,1,84.0,21,12/18/2014,201412,0,NaN,NaN
3,808936729811,143389772,00093747489,10463811,174.9,1,7002370001,0,84.0,21,10/21/2014,201410,0,NaN,NaN
4,803520315947,325994833,00093747489,7091786,C79.51,2,0000000000,0,84.0,21,09/11/2014,201409,0,NaN,NaN

In [56]:
rx_2l.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583878 entries, 0 to 583877
Data columns (total 15 columns):
CLAIM_ID               583878 non-null object
PATIENT_ID             583878 non-null int32
NDC                    583878 non-null object
PROVIDER_ID            583878 non-null object
DIAGNOSIS_CODE         88791 non-null object
DIAG_VERS_TYP_ID       93600 non-null object
PAYER_PLAN_ID          583757 non-null object
REFILL_CODE            583871 non-null object
DSPNSD_QTY             583878 non-null float64
DAYS_SUPPLY            583878 non-null int32
SERVICE_DATE           583878 non-null object
MONTH_ID               583878 non-null int32
RESTATE_FLAG           583878 non-null object
FLEXIBLE_FLD_1_CHAR    0 non-null object
FLEXIBLE_FLD_2_CHAR    0 non-null object
dtypes: float64(1), int32(3), object(11)
memory usage: 60.1+ MB

In [47]:
# define BC ---- see attached 'BC_SN ICD CODE.xlsx'
bc_sn_Code = pd.read_csv('C:\\Users\\conta\\Documents\\Novartis\\BC_SN ICD CODE.csv',header=0)
bc_sn_Code.columns
bc_sn_Code.rename(index=str, columns={"diagnosis_cd": "DIAGNOSIS_CD",'indication_cd':'INDICATION_CODE'},inplace=True)
diag = pd.merge(diag,bc_sn_Code,how='left',on='DIAGNOSIS_CODE')

KeyError: 'DIAGNOSIS_CODE'

In [6]:
len(px['PATIENT_ID'].unique())

20000

In [7]:
len(rx['PATIENT_ID'].unique())

17188

In [15]:
# checking present patient in DIAG, PX, RX
df1 = pd.DataFrame(px['PATIENT_ID'].unique())
df2 = pd.DataFrame(diag['PATIENT_ID'].unique())
df3 = pd.DataFrame(rx['PATIENT_ID'].unique())
intersected_df = pd.merge(df1, df2, how='inner')
len(intersected_df)
# intersected_df2 = pd.merge(df3, df2, how='inner')
# len(intersected_df2)
# intersected_df3 = pd.merge(df3, df1, how='inner')
# len(intersected_df3)

20000

In [28]:
# define BC ---- see attached 'BC_SN ICD CODE.xlsx'
dg_rf = pd.read_csv('C:\\Users\\conta\\Documents\\Novartis\\Drug Reference.csv',header=0)
dg_rf = dg_rf[dg_rf.columns[0:3]] 
dg_rf.head()

  drug_id          drug_name drug_generic_name
0      710               NaN               NaN
1   160001         SLEEPINAL               NaN
2  1003298      BIO ST JOHNS               NaN
3  1224333  AUSTRALIAN DREAM               NaN
4  1296640           RAPTIVA               NaN

In [75]:
px.rename(columns={'PROCEDURE_CODE':'drug_id'}, inplace=True)
px.columns
pd.merge(px,dg_rf,how='outer',on='drug_id',validate="m:1")

KeyError: 'drug_id'

In [64]:
# px = pd.concat([px, dg_rf], axis=1) 不行
# pd.concat([px,dg_rf],axis=1)  可以
px['g'] = px.groupby('drug_id').cumcount()
dg_rf['g'] = dg_rf.groupby('drug_id').cumcount()

merged_table = pd.merge(px,dg_rf,on=["drug_id", 'g'],how='outer').drop('g', axis=1)
print (merged_table)

KeyError: 'drug_id'

,PATIENT_ID,CLAIM_ID,CLAIM_LINE_ITEM,CLAIM_TYP_CD,drug_id,PRC1_MOD_CD,PRC1_MOD_DESC,PRC_VERS_TYP_ID,PROVIDER_BILLING_ID,PROVIDER_FACILITY_ID,...,DIAG_VERS_TYP_ID,DIAG_DESC,WEEK_END_FRI,RESTATE_FLAG,FLEXIBLE_FLD_1_CHAR,FLEXIBLE_FLD_2_CHAR,g,drug_id,drug_name,drug_generic_name
0,999944505.0,10458194885000421223,4.0,P,86300,NaN,NaN,-1,7976755.0,0.0,...,2.0,NaN,17-APR-20,0,1588637250,NaN,0.0,NaN,NaN,NaN
1,999944505.0,10458194885000421223,1.0,P,80053,NaN,NaN,-1,7976755.0,0.0,...,2.0,NaN,17-APR-20,0,1588637250,NaN,0.0,NaN,NaN,NaN
2,999944505.0,10458181473000479341,2.0,P,86300,NaN,NaN,-1,7976755.0,0.0,...,2.0,NaN,28-FEB-20,0,1588637250,NaN,1.0,NaN,NaN,NaN
3,999944505.0,10458181473000479341,1.0,P,80053,NaN,NaN,-1,7976755.0,0.0,...,2.0,NaN,28-FEB-20,0,1588637250,NaN,1.0,NaN,NaN,NaN
4,999944505.0,10458165065000341912,2.0,P,86300,NaN,NaN,-1,7976755.0,0.0,...,2.0,NaN,28-FEB-20,0,1588637250,NaN,2.0,NaN,NaN,NaN
5,999944505.0,10458165065000341912,1.0,P,80053,NaN,NaN,-1,7976755.0,0.0,...,2.0,NaN,28-FEB-20,0,1588637250,NaN,2.0,NaN,NaN,NaN
6,999944505.0,10458161262800585500,3.0,P,99214,NaN,NaN,-1,8117971.0,0.0,...,2.0,NaN,28-FEB-20,0,1285667204,NaN,0.0,NaN,NaN,NaN
7,999944505.0,10458161262800585500,2.0,P,85025,NaN,NaN,-1,8117971.0,0.0,...,2.0,NaN,28-FEB-20,0,1285667204,NaN,0.0,NaN,NaN,NaN
8,999944505.0,10458161262800585500,1.0,P,36415,NaN,NaN,-1,8117971.0,0.0,...,2.0,NaN,28-FEB-20,0,1285667204,NaN,0.0,NaN,NaN,NaN
9,999944505.0,10458157449200367497,2.0,P,86300,NaN,NaN,-1,7976755.0,0.0,...,2.0,NaN,28-FEB-20,0,1588637250,NaN,3.0,NaN,NaN,NaN
10,999944505.0,10458157449200367497,1.0,P,80053,NaN,NaN,-1,7976755.0,0.0,...,2.0,NaN,28-FEB-20,0,1588637250,NaN,3.0,NaN,NaN,NaN
11,999944505.0,10458149767100481838,2.0,P,86300,NaN,NaN,-1,7976755.0,0.0,...,2.0,NaN,28-FEB-20,0,1588637250,NaN,4.0,NaN,NaN,NaN
12,999944505.0,10458149767100481838,1.0,P,80053,NaN,NaN,-1,7976755.0,0.0,...,2.0,NaN,28-FEB-20,0,1588637250,NaN,4.0,NaN,NaN,NaN
13,999944505.0,10458141735600367494,3.0,P,99214,NaN,NaN,-1,8117971.0,0.0,...,2.0,NaN,28-FEB-20,0,1285667204,NaN,1.0,NaN,NaN,NaN
14,999944505.0,10458141735600367494,2.0,P,85025,NaN,NaN,-1,8117971.0,0.0,...,2.0,NaN,28-FEB-20,0,1285667204,NaN,1.0,NaN,NaN,NaN
15,999944505.0,10458141735600367494,1.0,P,36415,90,REFERENCE (OUTSIDE) LABORATORY: WHEN LABORATOR...,-1,8117971.0,0.0,...,2.0,NaN,28-FEB-20,0,1285667204,NaN,1.0,NaN,NaN,NaN
16,999944505.0,10458136660700102286,4.0,P,82607,NaN,NaN,-1,7976755.0,0.0,...,2.0,NaN,28-FEB-20,0,1588637250,NaN,0.0,NaN,NaN,NaN
17,999944505.0,10458136660700102286,3.0,P,82306,NaN,NaN,-1,7976755.0,0.0,...,2.0,NaN,28-FEB-20,0,1588637250,NaN,0.0,NaN,NaN,NaN
18,999944505.0,10458136660700102286,2.0,P,86300,NaN,NaN,-1,7976755.0,0.0,...,2.0,NaN,28-FEB-20,0,1588637250,NaN,5.0,NaN,NaN,NaN
19,999944505.0,10458136660700102286,1.0,P,80053,NaN,NaN,-1,7976755.0,0.0,...,2.0,NaN,28-FEB-20,0,1588637250,NaN,5.0,NaN,NaN,NaN
20,999944505.0,10458124921200431206,3.0,P,99214,NaN,NaN,-1,8117971.0,0.0,...,2.0,NaN,28-FEB-20,0,1285667204,NaN,2.0,NaN,NaN,NaN
21,999944505.0,10458124921200431206,2.0,P,85025,NaN,NaN,-1,8117971.0,0.0,...,2.0,NaN,28-FEB-20,0,1285667204,NaN,2.0,NaN,NaN,NaN
22,999944505.0,10458124921200431206,1.0,P,36415,90,REFERENCE (OUTSIDE) LABORATORY: WHEN LABORATOR...,-1,8117971.0,0.0,...,2.0,NaN,28-FEB-20,0,1285667204,NaN,2.0,NaN,NaN,NaN
23,999944505.0,10458121384900389669,1.0,P,96523,NaN,NaN,-1,8117971.0,0.0,...,2.0,NaN,28-FEB-20,0,1285667204,NaN,0.0,NaN,NaN,NaN
24,999944505.0,10458116262100266714,3.0,P,99215,NaN,NaN,-1,8117971.0,0.0,...,2.0,NaN,28-FEB-20,0,1285667204,NaN,0.0,NaN,NaN,NaN
25,999944505.0,10458116262100266714,2.0,P,85025,NaN,NaN,-1,8117971.0,0.0,...,2.0,NaN,28-FEB-20,0,1285667204,NaN,3.0,NaN,NaN,NaN
26,999944505.0,10458116262100266714,1.0,P,36415,90,REFERENCE (OUTSIDE) LABORATORY: WHEN LABORATOR...,-1,8117971.0,0.0,...,2.0,NaN,28-FEB-20,0,1285667204,NaN,3.0,NaN,NaN,NaN
27,999944505.0,10458111890600086467,9.0,P,J1100,NaN,NaN,-1,8117971.0,0.0,...,2.0,NaN,28-FEB-20,0,1285667204,NaN,0.0,NaN,NaN,NaN
28,999944505.0,10458111890600086467,9.0,P,J1100,NaN,NaN,-1,8117971.0,0.0,...,2.0,NaN,28-FEB-20,0,1285667204,NaN,1.0,NaN,NaN,NaN
29,999944505.0,10458111890600086467,8.0,P,99214,25,"SIGNIFICANT, SEPARATELY IDENTIFIABLE EVALUATIO...",-1,8117971.0,0.0,...,2.0,NaN,28-FEB-20,0,1285667204,NaN,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
532695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99866014856,FLEX-A-MIN DOUBLE STRENGT,MISC NATURAL PRODUCTS
532696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99866015282,FLEX-A-MIN SUPER GLUCOSAM,MISC NATURAL PRODUCTS
532697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99866015922,FLEX-A-MIN,NaN
532698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99866015923,FLEX-A-MIN,NaN
532699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99866015924,FLEX-A-MIN,NaN
532700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99866027822,FLEX-A-MIN TRIPLE STRENGT,MISC NATURAL PRODUCTS
532701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99866027823,FLEX-A-MIN TRIPLE STRENGT,MISC NATURAL PRODUCTS
532702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99866027824,FLEX-A-MIN TRIPLE STRENGT,MISC NATURAL PRODUCTS
532703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99970001014,ACNEWORX,NaN
532704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99999099211,COVID-19 TEST SPECIMEN CO,COVID-19 TEST SPECIMEN COLLECTION
532705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J8520,CHEMO,CHEMO
532706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J8521,CHEMO,CHEMO
532707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J8530,CHEMO,CHEMO
532708,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J9000,CHEMO,CHEMO
532709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J9045,CHEMO,CHEMO
532710,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J9060,CHEMO,CHEMO
532711,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J9070,CHEMO,CHEMO
532712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J9151,CHEMO,CHEMO
532713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J9171,CHEMO,CHEMO
532714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J9178,CHEMO,CHEMO
532715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J9179,CHEMO,CHEMO
532716,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J9190,CHEMO,CHEMO
532717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J9201,CHEMO,CHEMO
532718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J9207,CHEMO,CHEMO
532719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J9250,CHEMO,CHEMO
532720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J9260,CHEMO,CHEMO
532721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J9264,CHEMO,CHEMO
532722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J9267,CHEMO,CHEMO
532723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J9390,CHEMO,CHEMO
532724,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,J9395,FASLODEX,FULVESTRANT

In [73]:
sum(dg_rf.duplicated())

0